#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pilt {
  height: 100px;
  /* width: 100px; */
  border-radius: 10px;
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  transform: scale(90%);
}

.tekst {
  font-weight: bold;
  font-size: 20px;
}

.tekst:hover {
  text-decoration: underline;
  cursor: e-resize;
}

.tekst:active {
  color: brown;
}

.aktiivne {
  border: 1px solid rgb(227 6 140);
  color: rgb(227 6 140);
}

.aktiivne-keel {
  font-weight: bold;
}

.aktiivne-linn {
  text-decoration: underline;
}